* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

:root{
  --cta-color: #286855;
  --contrast-color: yellow;
  --redish: rgb(188, 8, 8);
  --radius: .3em;
}

#activeLink a{
  color:var(--cta-color);
}