
.catigories__cover{
    padding-top:0;
    padding-bottom:1em;
    width:100%;
    background-color:var(--grayish);
    max-width: 70em;
    /* background:blue; */
}

.catigories__nav {
    border-bottom:solid 1px gray;
    padding:1em 1.4em;
    padding-bottom:.4em;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.catigories__nav .title{
    padding-left:.4em;
    font-weight:bold;
}

.catigories__container{
    padding:1em 1.4em;
}

.catigories__content{
    --borderWeight: 10px;
    border-left:solid var(--borderWeight) var(--grayish);
    border-right:solid var(--borderWeight) var(--grayish);
}
div.catigories__container li:nth-child(1) .catigories__content{
    border-left:none;
}
div.catigories__container li:last-child .catigories__content{
    border-right:none;
}

.catigory__card{
    border:none;
    flex-flow:column;
    justify-content:center;
    text-align:center;
    font-family:poppins;
    text-transform: uppercase;
    /* font-weight:bolder; */
    font-size: .86rem;
}

.catigories__image{
    width:10em;
    border-radius: .2em;
    height:8em;
    background:rgb(192, 192, 192); 
    margin: 0 auto;
}
