

main{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:4em 0;
}
.react-multiple-carousel__arrow {
    opacity:.6;
    background-color:black;
}
.react-multiple-carousel__arrow:acitve{
    opacity:1;
}

.products{
    max-width:70em;
    width:100%;
}

.products .title{
    font-family:century gothic;
    padding:0 .8em;
    font-size:1.5rem;
    letter-spacing: -.02em;
    text-transform:uppercase;
    font-weight:bolder;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.products .title > div{
    /* content:"";
    display:block;
    justify-self: flex-end; */
    position:relative;
    width:100%;
    transform-origin: right;
    transform: scaleX(.98);
    background:blue;
    border-top:solid 2px var(--cta-color);
}

@media (min-width: 830px){
    .products .title{
        font-size: 2rem;
    }
}