main{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    padding:4em 0;
}
.react-multiple-carousel__arrow {
    opacity:.3;
    background-color:black;
    z-index: 1;
}
.react-multiple-carousel__arrow:hover{
    opacity:1;
}

.products{
    max-width:70em;
    width:100%;
}
