

.recommended__product-container{
    padding:1em;
}

.recommended__product-container{
    cursor:grab;
}

.product{
    padding: 1em;
    display:flex;
    flex-flow:column;
    background:white;
    transition:transform .3s;
    border-radius:.3em;
}
.swiper-wrapper{
    padding:2em 0;
}

.product__image{
    background:rgba(0, 0, 0, 0.104);
    border-radius:.3em;
}

.product__details{
    width:100%;
}

.product__name{
    word-break:break-all;
    font-size:1rem;
    font-weight: normal;
    font-family:century gothic;
    height:2.6em;
}

.product__price{
    padding:1em 0;
    font-weight:normal;
    font-size:1rem;
}

.product__button{
    width:100%;
    border:none;
    padding:.5em 0;
    cursor:pointer;
}

.products__inner-container{
    display:grid;
    gap:.5em;
    grid-template-columns: repeat(2, 1fr);
    padding:1em;
}
@media (min-width: 630px){
    .products__inner-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 830px){
    .products__inner-container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 950px){
    .products__inner-container{
        grid-template-columns: repeat(5, 1fr);
    }

    .product:hover{
        transform:scale(1.03);
        box-shadow:0px 0px 2em 20px rgb(0 0 0 / 3%);
        z-index: 1;
        position:relative;
    }
}